.advantages-title, .portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  background-color: #FFFFFF;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon-send {
  margin-left: 10px;
  fill: #FFFFFF;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 3px;
  border: 0;
  background-color: #2196f3;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  text-align: center;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #F5F4FA;
  color: #2196f3;
  fill: #2196f3;
}

.button:hover .icon-send {
  fill: #2196f3;
}

.logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 80px;
  color: #212121;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo .web {
  color: #2196f3;
}

.logo :hover, .logo :focus {
  color: #757575;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.site-nav-item {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-item::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-item :hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
}

.site-nav-item:not(:last-child) {
  margin-right: 45px;
}

.site-nav:hover, .site-nav:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.site-nav-item a {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.address {
  margin-left: auto;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .item:not(:last-child) {
  margin-right: 30px;
}

.contacts .icon-envelope {
  position: relative;
  top: 2px;
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts .icon-phone {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-link {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, .contact-link:focus {
  color: #2196f3;
}

.hero {
  min-height: 600px;
  text-align: center;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0;
  padding: 0px;
  margin-bottom: 36px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  content: "";
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.advantages-item {
  width: 270px;
  margin-right: 30px;
}

.advantages-item:last-child {
  margin-right: 0px;
}

.liner {
  border-bottom: 1px solid #ECECEC;
}

.advantage-item-name {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-description {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.specializing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specializing-item {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 370px;
  height: 294px;
  margin-right: 30px;
}

.specializing-item:last-child {
  margin-right: 0px;
}

.specializing-image {
  display: inline-block;
  margin: 0;
}

.specializing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.team {
  background-color: #F5F4FA;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list .member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 0px;
}

.member {
  overflow: hidden;
  width: 278px;
  margin-right: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.member:last-child {
  margin-right: 0px;
}

.member p {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: #FFFFFF;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-background:hover {
  background-color: #2196f3;
  fill: #FFFFFF;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.footer-background {
  padding-top: 48px;
  background-color: #2F303A;
}

.footer-background .list {
  color: rgba(255, 255, 255, 0.6);
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address li:last-child {
  margin-bottom: 28px;
}

.footer-logo {
  margin-top: 0px;
  margin-bottom: 10px;
}

.studio-footer {
  color: #ffffff;
}

.footer-social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
}

.footer-icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-background:hover {
  background-color: #2196f3;
  fill: #FFFFFF;
}

.footer-address {
  margin-top: 0px;
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-background strong {
  margin-top: 0px;
  margin-bottom: 21px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe-container {
  display: flexbox;
}

#submitmail {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 14px;
  margin-top: 20px;
  margin-right: 12px;
  min-width: 358px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
}

.copyright {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 18px;
  padding-bottom: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}

.copyright-line {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.toclose {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(30%, -30%);
          transform: translate(30%, -30%);
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.form-field {
  margin-top: 0px;
  position: relative;
}

.form-input {
  margin-top: 0;
  margin-bottom: 28px;
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
}

.icon {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 2;
}

.form-label {
  position: absolute;
  top: 0;
  left: 42px;
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  font-size: 12px;
  line-height: 1.16;
  -webkit-transform: translateY(-20px) translateX(-25px);
          transform: translateY(-20px) translateX(-25px);
}

.form-input:focus ~ .icon {
  fill: #2196f3;
}

.checkline {
  position: relative;
  margin-top: 0px;
  margin-bottom: 30px;
}

#checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#checkbox:checked ~ .check-box {
  background-image: url(../images/svg/icon-check.svg);
  background-color: #2196f3;
}

.check-box {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 12px;
  margin-top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/svg/icon-uncheck.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border-radius: 2px;
}

.checktext {
  padding-left: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.terms {
  color: #2196f3;
  /*text-decoration: underline;*/
  border-bottom: solid 1px;
}

.terms:hover {
  color: #757575;
}

.submition {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters li {
  margin-right: 8px;
  margin-bottom: 50px;
}

.filters li:last-child {
  margin-right: 0px;
}

.heading {
  text-align: center;
}

.filter-button {
  display: inline-block;
  padding: 6px 22px;
  min-width: 0px;
  border-radius: 4px;
  border: 0;
  background-color: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: center;
}

.filter-button:hover {
  background-color: #2196f3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.example-item {
  width: 370px;
}

.example-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.example-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.example-item:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-image {
  display: block;
  overflow: hidden;
}

.card-content {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.example-item h2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-category {
  margin-left: 0px;
  margin-top: 4px;
  margin-bottom: 20px;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.description-shell {
  position: relative;
  overflow: hidden;
}

.example-description {
  color: #FFFFFF;
  background-color: #2196f3;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  margin: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  width: 370px;
  height: 404px;
  position: absolute;
  top: 0px;
  -webkit-transform: translateY(370px);
          transform: translateY(370px);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-item:hover .example-description {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
/*# sourceMappingURL=main.css.map */