// .header-box {
//     display: flex;
//     align-items: center;
   
// }

// .navigation{
//     display: flex;
// }
// .site-nav {
//     display: flex;
//     margin-top: 32px;

//     &-item {
//         color: $baseTextColor;
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em;}

//     &-item::after{
//             content: "";
//             display: flex;
//             width: 100%;
//             height: 4px;
            
//             background-color: $accentColor;
//             border-radius: 4px;
//             position: absolute;
//             bottom: 0;
        
//             opacity: 0;
//             transform: scaleX(0);
//             transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
//             opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
//         }
//         &-item :hover::after {
//             content: "";
//             display: flex;
//             width: 100%;
//             height: 4px;
            
//             background-color: $accentColor;
//             border-radius: 4px;
//             position: absolute;
//             bottom: 0;
        
//         }

//     &-item:not(:last-child){
//         margin-right: 45px;
//     }    
//     &:hover,&:focus {color: $accentColor;}

//     .link.current {color: $accentColor;}
//     .link.current::after{
//         content: "";
//         display: flex;
//         width: 100%;
//         height: 4px;
        
//         background-color: $accentColor;
//         border-radius: 4px;
//         position: absolute;
//         bottom: 0;
    
//         transform-origin: center;
//     }

// }

// .site-nav-item a {
//     padding-top: 32px;
//     padding-bottom: 32px; 
//     position: relative;
// }

// //-----address
// .address {
//     margin-left: auto;
// }

// .contacts  {
//     display: flex;
//     align-items: baseline;

//     color: $paragraphColor;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     .item:not(:last-child){
//         margin-right: 30px;
//     }
//     .icon-envelope {
//         position: relative;
//         top: 2px;
//         width: 16px;
//         height: 11px;
//         margin-right: 10px;
//         fill: currentColor;
//     }
//     .icon-phone{
//         display: inline-block;
//         vertical-align: middle;
//         width: 10px;
//         height: 15px;
//         margin-right: 10px;
//         fill: currentColor;
//     }
// }

// .contact-link{
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,&:focus {color: $accentColor;}
    
// }

// .header-box {
//     display: flex;
//     align-items: center;
   
// }

// .navigation{
//     display: flex;
// }
// .site-nav {
//     display: flex;
//     margin-top: 32px;

//     &-item {
//         color: $baseTextColor;
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em;}

//     &-item::after{
//             content: "";
//             display: flex;
//             width: 100%;
//             height: 4px;
            
//             background-color: $accentColor;
//             border-radius: 4px;
//             position: absolute;
//             bottom: 0;
        
//             opacity: 0;
//             transform: scaleX(0);
//             transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
//             opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
//         }
//         &-item :hover::after {
//             content: "";
//             display: flex;
//             width: 100%;
//             height: 4px;
            
//             background-color: $accentColor;
//             border-radius: 4px;
//             position: absolute;
//             bottom: 0;
        
//         }

//     &-item:not(:last-child){
//         margin-right: 45px;
//     }    
//     &:hover,&:focus {color: $accentColor;}

//     .link.current {color: $accentColor;}
//     .link.current::after{
//         content: "";
//         display: flex;
//         width: 100%;
//         height: 4px;
        
//         background-color: $accentColor;
//         border-radius: 4px;
//         position: absolute;
//         bottom: 0;
    
//         transform-origin: center;
//     }

// }

// .site-nav-item a {
//     padding-top: 32px;
//     padding-bottom: 32px; 
//     position: relative;
// }

// //-----address
// .address {
//     margin-left: auto;
// }

// .contacts  {
//     display: flex;
//     align-items: baseline;

//     color: $paragraphColor;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     .item:not(:last-child){
//         margin-right: 30px;
//     }
//     .icon-envelope {
//         position: relative;
//         top: 2px;
//         width: 16px;
//         height: 11px;
//         margin-right: 10px;
//         fill: currentColor;
//     }
//     .icon-phone{
//         display: inline-block;
//         vertical-align: middle;
//         width: 10px;
//         height: 15px;
//         margin-right: 10px;
//         fill: currentColor;
//     }
// }

// .contact-link{
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,&:focus {color: $accentColor;}
    
// }