
@media (min-width: 480px){
.hero {
  min-width: 480px; 
  height: 400px;
  max-width: 700px;

    text-align: center;
    padding-top: 118px;
    

    
    margin-left: 0;
    margin-right: 0;

    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("/images/hero/mob/heromob.jpg");
  
    background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url('/images/hero/mob/heromob@2x.jpg');
  }
}

  &-title {
    margin: 0;
    padding: 0px;
    margin-bottom: 30px;
    color: $onBackgroundTextColor; 
    
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;}
        
}}

@media (min-width: 768px){
  .hero {
    min-width: 768px;
    max-width: 1200px;
    height: 400px;

    text-align: center;
    padding-top: 118px;
    
  
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("/images/hero/tablet/herotab.jpg");

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url('/images/hero/tablet/herotab@2x.jpg');
  }
}
  
  &-title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.62;
   }
        
  }
}

@media (min-width: 1200px){
.hero {
  min-width: 1200px;
  min-height: 600px;
  max-width: 1600px;


  text-align: center;
  padding-top: 200px;
  margin-bottom: 0px;

  
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  ),
  url("/images/hero/desktop/herodesk.jpg");

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url('/images/hero/desktop/herodesk@2x.jpg');
  }
}

&-title {
  
  font-size: 44px;
  line-height: 1.36;
  }
      
}}