@media (min-width: 480px){
}
@media (min-width: 768px){
  }
    
  @media (min-width: 1200px){
.clients {
    display: flex;
    justify-content: space-around;

    &-item {
        @include flex-content-center;
        
        width: 170px;
        height: 90px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    
        fill: #AFB1B8;
    
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &-item:hover{
    border-color: $accentColor;
    fill: $accentColor;
}
}}

