.specializing{
    display: flex;

    &-item {
        position: relative;
        overflow: hidden;
        margin: 0;
        width: 370px;
        height: 294px;
        margin-right: 30px;
        
       // /*background: url(./images/laptop.png) no-repeat center;*/
       
    }
    &-item:last-child{
        margin-right: 0px;
    }
    &-image{
        display: inline-block;
        margin: 0;
    }

    &-text {
        @include flex-content-center;
        
        width: 370px;
        height: 70px;   
        background: rgba(47, 48, 58, 0.8);
        color: $onBackgroundTextColor;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
        
        position: absolute;
        bottom: 0;
        
    }

}
