html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    @media (min-width: 480px){
        width: 480;
    }
    @media (min-width: 768px){
        width: 768px;
    }
    
    @media (min-width: 1200px){
        min-width: 1200px;
    max-width: 1600px;}

}


.page {
    background-color: $onBackgroundTextColor;
    color: $baseTextColor;
    font-family: 'Roboto', sans-serif;}
.list {
    list-style: none;
    padding: 0;
    margin: 0;}
a{
    text-decoration: none;
    color: inherit;
}

